/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */








/* home */
.post-thumb img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

/* home blog bawah */
@media screen and (max-width: 1000px) {
  .judul-blog {
    font-size: 16px !important;
  }
}

/* daftar blog */
@media screen and (max-width: 1000px) {
  #text-heading-blog {
    font-size: 45px !important;
  }

  #text-heading-blog2 {
    margin-top: -5px !important;
  }

  #text-heading-blog-cover {
    line-height: 40px !important;
  }
  
  #hero-heading-blog {
    margin-top: -210px !important;
  }

  .blog-section {
    margin-top: -250px !important;
  }
}